Module II/15. Databases/Homework 1/Homework 1/App/exams.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:exams" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:exams" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="exam">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="name" type="xs:string" />
          <xs:element name="tutor" type="xs:string" />
          <xs:element name="score" type="xs:decimal" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>